<table class="table py-2 mb-4" style="font-size: small;">
  <thead>  
    <tr>
      <th>Referencia</th>
      <th>Fuente</th>
    </tr>
  </thead>
  <tbody>
    {% for row in site.data.ref_biblio %}
      {% case handle %}
        {% when "all" %}
          <tr>
            <td class="bold">{{ row.Cita }}</td>
            <td>{{ row.Referencia }}</td>
          </tr>
        {% when "text" %}
          {% if row.Tipo == "texto" %}
            <tr>
              <td class="bold">{{ row.Cita }}</td>
              <td>{{ row.Referencia }}</td>
            </tr> 
          {% endif %}
        {% when "audio" %}
          {% if row.Tipo == "audio" %}
            <tr>
              <td class="bold">{{ row.Cita }}</td>
              <td>{{ row.Referencia }}</td>
            </tr> 
          {% endif %}
      {% endcase %}
    {% endfor %}
  </tbody>
</table>
